.product-info{
    background-color: #ffff;
    border-radius: 10px;
    padding: 15px 20px;
}

.product-info-box{
}

.price_sale{
    text-decoration: line-through;
    color: red;
}

.unactive{
    color: red;
}

.active{
    color: green;
}


.product-image{
    width: 100%;
    /* padding: 20px 10px; */
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
}

.product-info-right{
    /* margin-left: 0px 30px; */
    padding-left: 20px;
}

.btn-properties{
    height: 60px;
    box-shadow: 0px 0px 0px #444;
}
